.cart-container {
  padding: 40px;
}

.cart-item {
  border-bottom: 1px solid #333;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.cart-qty {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 10px 0;
}


.cart-qty button {
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.cart-qty button:hover {
  opacity: 0.8;
}
